/* 基础样式 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background: url('../imgs/commune.png') no-repeat center center fixed; /* 添加背景图片 */
    background-size: cover; /* 使背景图片覆盖整个页面 */
    color: #fff;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

.card {
    background: #2d2d2d;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#server-ip {
    color: #00ff88;
    font-family: 'Courier New', monospace;
}

/* 在线玩家列表 */
#player-list {
    list-style: none;
    padding: 0;
}

#player-list li {
    padding: 8px;
    margin: 5px 0;
    background: #3a3a3a;
    border-radius: 5px;
}

/* 响应式设计 */
@media (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

/* 新增样式 */
.hidden {
    display: none;
}

.navbar-dark {
    background-color: #2d2d2d;
    height: 50px; /* 减小导航栏高度 */
}

.btn {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.5);
}

.text-shadow {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.container {
    margin-top: 1rem; /* 调整容器顶部外边距 */
}

.navbar-nav {
    margin-right: 0;
}

.navbar-nav .nav-link {
    margin-right: 0.5rem; /* 减小导航栏链接之间的间距 */
    font-size: 0.8rem; /* 减小导航栏字体大小 */
}

.navbar-brand {
    font-size: 1rem; /* 调整品牌名称字体大小 */
}

.row.text-center {
    margin-bottom: 2rem;
}

.card h2 {
    margin-bottom: 1rem;
}

footer {
    margin-top: 4rem;
}